@font-face {
  font-family: "Matter";
  src: url("/fonts/MatterRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/MatterMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/MatterSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
